#content {
    width: 53%;
    
    margin: auto;
}
#content ul li {
    margin-left: 3%;
    width: 40%;
    list-style: none;
    float: left;
    padding: 5px 15px;
}

.bt {
    font-size: 17px;
    text-decoration: none;
}
.bt:hover {
    text-decoration:underline;
    color: rgb(41, 143, 226);
}