#topnav {
    overflow: hidden;
    background-color: black;
}

#topnav a {
    float: left;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    padding: 12px 14px;
}

#topnav a:hover {
    background-color: aliceblue;
    color: chartreuse;
}